Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  debian_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)

centos: switch stream9 over to new built image
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: enable hashicorp repositories when they become available
  .gitlab/check_versions.bash
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/docker.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix recommended extensions
  .vscode/extensions.json
Due: none

centos: start the test container with cgroup support
  Makefile
  dockerfiles/centos.dockerfile
Due: none

all: ignore errors when reloading user systemd units
  setup.yml
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: cannot run systemd in CI
  Makefile
  dockerfiles/centos.dockerfile
  setup.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: fix CI user being used
  .gitlab-ci.yml
  Makefile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix container detection in makefile
  Makefile
Due: none

centos: rm duplicate make target
  Makefile
Due: none

all: disable debug tasks by default
  setup.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: switch check for dockerenv to systemd
  docker.yml
  flatpaks.yml
  gcloud.yml
  kubernetes.yml
  razer.yml
  setup.yml
  tasks/system/redhat/security.yml
  tasks/user/flatpaks.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: add missing make dependency
  Makefile
Due: none

all: dedupe the makefile targets for building images
  Makefile
Due: none

arch: switch CI to use the new docker image
  .gitlab-ci.yml
  .gitlab/setup_archlinux.bash
  .gitlab/setup_centos.bash
  Makefile
  dockerfiles/archlinux.dockerfile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: update to kaniko 1.7.0
  .gitlab-ci.yml
  Makefile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

manjaro: switch to testing to built docker image
  .gitlab-ci.yml
  Makefile
  dockerfiles/manjarolinux.dockerfile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: switch to testing to built docker image
  .gitlab-ci.yml
  .gitlab/setup_debian.bash
  Makefile
  dockerfiles/debian.dockerfile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: pass OS_VERSION as image build arg in CI
  .gitlab/build_image.sh
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: upgrade curl-minimal to curl
  tasks/system/redhat/centos/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: lsb is a standard that is no longer being followed
  bootstrap/debian.bash
  tasks/system/debian/docker.yml
  tasks/system/debian/repositories.yml
  tasks/system/redhat/packages.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: use direct path to systemd for testing
  Makefile
Due: none

centos: add dbus-daemon
  tasks/system/redhat/centos/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

redhat: use docker repository for previous release when required
  tasks/system/redhat/docker.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: stream9 is not released yet and packages are missing
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: switch to testing fedora with the new docker images
  .gitlab-ci.yml
  .gitlab/setup_fedora.bash
  Makefile
  dockerfiles/fedora.dockerfile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: remove extra code for EOL support of fedora
  .gitlab-ci.yml
  README.md
  tasks/system/redhat/fedora/packages.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: setup local testing with docker
  Makefile
  dockerfiles/ubuntu.dockerfile
Due: none

ubuntu: switch ci to test with newly built docker images
  .gitlab-ci.yml
  .gitlab/build.bash
  .gitlab/setup_ubuntu.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: install python3-cairo to fix broken setup
  bootstrap/ubuntu.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: fix CI dependencies
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: skip testing 18.04 due to unsupported python
  .gitlab-ci.yml
  README.md
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: download docker compose to the plugin location
  .gitlab/check_versions.bash
  tasks/system/docker.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: update to docker compose 2.0.1
  docker.yml
Due: none

all: fix docker compose v2 setup
  docker.yml
  tasks/system/docker.yml
  tasks/system/redhat/centos/docker.yml
  tasks/system/redhat/fedora/docker.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix docker compose version check
  .gitlab/check_versions.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: created tfenv update service
  files/home/user/.config/systemd/user/tfenv-update.service.j2
  files/home/user/.local/bin/tfenv-update
  setup.sh
  setup.yml
  tasks/user/applications.yml
  tasks/user/systemd.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: created pkenv update service
  files/home/user/.config/systemd/user/pkenv-update.service.j2
  files/home/user/.local/bin/pkenv-update
  files/home/user/.local/bin/tfenv-update
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: created pyenv update service
  files/home/user/.config/systemd/user/pyenv-update.service.j2
  files/home/user/.local/bin/pkenv-update
  files/home/user/.local/bin/pyenv-update
  files/home/user/.local/bin/tfenv-update
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: include pyenv plugins in updater
  files/home/user/.local/bin/pyenv-update
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: created pyenv update service
  files/home/user/.local/bin/rbenv-update
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10
