Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

archlinux:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_28:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_29:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_30:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_31:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_32:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

fedora_rawhide:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

manjaro:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

ubuntu_18_04:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

ubuntu_20_04:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  - su public --command='/usr/bin/curl -sSL https://gitlab.com/perobertson/scripts/raw/${CI_COMMIT_SHA}/setup.sh | bash'
  - su public --command='git status --short && test "$(git status --short)" = ""'
  ...

all: add version check to rust commands that should be installed
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: replace lazygit with gitui
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: add fd for finding files
  .gitlab-ci.yml
  tasks/system/archlinux/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: run build on MRs and branches without an MR
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add setools-console for searching through policies with sesearch
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: install cli-tools for useful commands
  .gitlab-ci.yml
  tasks/user/applications.yml
  tasks/user/ides.yml
  tasks/user/rust.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add cargo to PATH for bootstrapping
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: CI move after_script into script to get exit codes
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: debug
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: check versions in a subshell so updated PATH is used
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: check versions as the correct user
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: move version check to script
  .gitlab-ci.yml
  bin/versions.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: add gdb
  tasks/system/archlinux/packages.yml
Due: archlinux, manjaro

debian: add jq
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: install keybase
  bin/versions.sh
  tasks/system/debian/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: add node and npm
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: add gdb
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

redhat: add gdb
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

debian: add shellcheck
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: add tree
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

all: use rustup when installed
  tasks/user/rust.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: add wget
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: add git and gitk
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

arch: move CI setup to .gitlab
  .gitlab-ci.yml
  .gitlab/setup_archlinux.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: only require python3 to be available
  bin/versions.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: move CI setup to .gitlab
  .gitlab-ci.yml
  .gitlab/setup_fedora.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

ubuntu: move CI setup to .gitlab
  .gitlab-ci.yml
  .gitlab/setup_ubuntu.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: enable colours in CI
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add lib for docker-compose
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: move CI build scripts to .gitlab
  .gitlab-ci.yml
  .gitlab/build.sh
  .gitlab/check_versions.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add colour for ansible in CI
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: add ability to test locally
  Makefile
  tasks/user/flatpaks.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add alacritty terminal emulator
  .gitlab/check_versions.sh
  tasks/user/rust.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: move alacritty install to extras.sh
  .gitlab/check_versions.sh
  extras.sh
  tasks/user/rust.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: configure ansible-lint
  .ansible-lint
  .gitlab-ci.yml
  Makefile
  tasks/system/containers.yml
  tasks/system/debian/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/packages.yml
  tasks/system/security.yml
  tasks/user/applications.yml
  tasks/user/dotfiles.yml
  tasks/user/flatpaks.yml
  tasks/user/ides.yml
  tasks/user/python.yml
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add delta
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: added a location where fonts can be installed
  fonts/Makefile
Due: none

all: add a bunch of tools to the extras
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: fix setup script
  .gitlab/build.sh
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: retry vscode installs on failure
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  fedora_28: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_29: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_30: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_31: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_32: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
