Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

archlinux:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_28:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_29:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_30:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_31:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_32:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_33:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

fedora_rawhide:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

manjaro:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

ubuntu_18_04:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

ubuntu_20_04:
  interruptible: true
  stage: build
  tags:
  - docker
  script:
  ...

all: added ripgrep
  tasks/system/archlinux/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add ytop
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: require f34 to pass CI
  .gitlab-ci.yml
  README.md
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add zoxide
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: add tealdeer
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: only manually test against EOL versions
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: start testing on debian
  .gitlab-ci.yml
  .gitlab/build.bash
  .gitlab/check_versions.bash
  .gitlab/setup_archlinux.bash
  .gitlab/setup_debian.bash
  .gitlab/setup_fedora.bash
  .gitlab/setup_ubuntu.bash
  bootstrap/arch.bash
  bootstrap/debian.bash
  bootstrap/fedora.bash
  bootstrap/manjaro.bash
  bootstrap/ubuntu.bash
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: handle unsupported python versions
  bootstrap/debian.bash
  bootstrap/ubuntu.bash
Due: none

debian: use ansible2
  Makefile
  bootstrap/debian.bash
  bootstrap/ubuntu.bash
Due: none

debian: install lsb-release in bootstrap
  bootstrap/debian.bash
Due: none

debian: 1password is not compatible with debian 9
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/debian/repositories.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
  tasks/system/debian/ubuntu/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: npm is not available on debian9
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

debian: ignore broken python
  Makefile
  bootstrap/debian.bash
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: dont test on debian9 since it used EOL python
  .gitlab-ci.yml
  tasks/system/debian/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

debian: add fd-find
  tasks/system/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.28.5
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add sedo to extras
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to ansible 3.x
  bootstrap/debian.bash
  bootstrap/fedora.bash
  bootstrap/ubuntu.bash
Due: none

all: lint using newer ansible and ansible-lint versions
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: fix lint errors
  .ansible-lint
  setup.yml
  systemd.yml
  tasks/system/archlinux/packages.yml
  tasks/system/containers.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
  tasks/user/applications.yml
  tasks/user/dotfiles.yml
  tasks/user/python.yml
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: update docker to use the fedora 34 repositories
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: update dive to v0.10.0
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: run CI on arch latest
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: check pip after bootstrap
  bootstrap/arch.bash
  bootstrap/manjaro.bash
Due: none

arch: add ansible-base
  bootstrap/arch.bash
  bootstrap/manjaro.bash
Due: none

arch: install ansible to user path
  .editorconfig
  .gitlab-ci.yml
  .gitlab/setup_archlinux.bash
  .gitlab/setup_debian.bash
  .gitlab/setup_fedora.bash
  .gitlab/setup_ubuntu.bash
  Makefile
  bootstrap/arch.bash
  bootstrap/manjaro.bash
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.29.0
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.29.1
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.29.2
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: update the yum repo config for 1password
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

redhat: newer defaults for dnf-automatic
  files/etc/dnf/automatic.conf
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: configure stable and beta channels for 1password
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: add timestampts to ansible tasks and output a summary at the end
  Makefile
  README.md
  config/ansible.cfg
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: upgrade to ansible 4.x
  .gitlab-ci.yml
  .gitlab/build.bash
  bootstrap/arch.bash
  bootstrap/debian.bash
  bootstrap/fedora.bash
  bootstrap/install_ansible.bash
  bootstrap/manjaro.bash
  bootstrap/ubuntu.bash
  config/ansible.cfg
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update precommit hooks
  .pre-commit-config.yaml
  bin/install-aws
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: run yamllint on all yaml files
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .yamllint
  README.md
  config/inventory.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: split docker out into its own playbook
  .gitlab-ci.yml
  Makefile
  docker.yml
  setup.sh
  setup.yml
  systemd.yml
  tasks/system/archlinux/docker.yml
  tasks/system/archlinux/packages.yml
  tasks/system/debian/docker.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
  tasks/system/docker.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/fedora/docker.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: split out gcloud, k8ts and fix apt key locations
  Makefile
  gcloud.yml
  kubernetes.yml
  setup.sh
  tasks/system/archlinux/gcloud.yml
  tasks/system/archlinux/kubernetes.yml
  tasks/system/debian/docker.yml
  tasks/system/debian/gcloud.yml
  tasks/system/debian/kubernetes.yml
  tasks/system/debian/repositories.yml
  tasks/system/debian/ubuntu/repositories.yml
  tasks/system/docker.yml
  tasks/system/gcloud.yml
  tasks/system/kubernetes.yml
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: check 1password version in ci
  .gitlab/check_versions.bash
Due: none

all: split out razer into its own playbook
  Makefile
  razer.yml
  setup.sh
  tasks/system/archlinux/razer.yml
  tasks/system/debian/razer.yml
  tasks/system/razer.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/razer.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/razer.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  fedora_28: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_29: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_30: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_31: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_32: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
