Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

Path conditions:
  test:archlinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:centos:stream8: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:centos:stream9: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:debian:10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:debian:11: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:fedora:34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:36: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:manjarolinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)

fedora: add rpmfusion signing keys
  setup.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix changed_when on update checks
  tasks/user/applications.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: abort on trying to create windows bootable usbs
  bin/create-bootable-usb.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

fedora: remove extra pulsaudio packages
  tasks/system/redhat/fedora/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

fedora: rm gtk-murrine-engine
  tasks/system/redhat/fedora/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: add script to handle installing of nvidia drivers
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: split generating and enrolling the signing key
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add option to install nvidia dependencies
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add option to install nvidia driver
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: sudo is needed to install nvidia drivers
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add link to additional nvidia setup doc
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add script to disable nouveau
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add video acceleration libraries
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add guards to nvidia script
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: auto change the runlevels when installing nvidia drivers
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: enable strict mode in nvidia scripts
  bin/install_nvidia.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

ubuntu: stop testing on 21.04
  .gitlab-ci.yml
  Makefile
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

fedora: add util-linux in CI for su support
  Makefile
  dockerfiles/fedora.dockerfile
Due: none

all: make docker optional
  .gitlab/check_versions.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

redhat: fix the importing of Google rpm signing keys
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/rpm_keys_google.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: switch to the package repositories for Enterprise Linux 9
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/rpm_keys_google.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: kubernetes only has a el7 repository
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/rpm_keys_google.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: import rpm keys into dnf database when they change
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: fix typo in rpm key for microsoft
  tasks/system/redhat/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

centos: fix rpm key for hashicorp
  tasks/system/redhat/centos/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

fedora: fix rpm key for hashicorp
  tasks/system/redhat/fedora/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

ubuntu: start supporting 22.04
  .gitlab-ci.yml
  Makefile
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: make hashicorp repositories optional
  tasks/system/debian/repositories.yml
Due: test:debian:10, test:debian:11, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: configure hashicorp repository when remote exists
  tasks/system/debian/repositories.yml
Due: test:debian:10, test:debian:11, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: use FQCN for ansible tasks
  tasks/system/debian/repositories.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add missing file modes
  tasks/system/kubernetes.yml
  tasks/user/ides.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: use python 3.7 for the linter
  .gitlab/linter.dockerfile
Due: none

all: install ansible and ansible-core at the same time for constraints
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: dont specify ansible-core during install
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: remove bad CI check
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: use full syntax when installing ansible
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: try using the latest python when linting
  .gitlab/linter.dockerfile
Due: none

redhat: change dnf-automatic to all packages
  files/etc/dnf/automatic.conf
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: update to ansible 5.x
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: stop testing on 10 now that it has reached EOL
  .gitlab-ci.yml
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10
