Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

archlinux:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_archlinux.bash
  image: archlinux:latest

debian_10:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_debian.bash
  image: debian:10

fedora_33:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_fedora.bash
  image: fedora:33

fedora_34:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_fedora.bash
  image: fedora:34

fedora_35:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_fedora.bash
  image: fedora:35
  allow_failure: true

fedora_rawhide:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_fedora.bash
  image: fedora:rawhide
  allow_failure: true

manjaro:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_archlinux.bash
  image: manjarolinux/base:latest

ubuntu_18_04:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_ubuntu.bash
  image: ubuntu:18.04

ubuntu_20_04:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_ubuntu.bash
  image: ubuntu:20.04

ubuntu_20_10:
  stage: build
  tags:
  - docker
  needs:
  - lint:shellcheck
  - lint:ansible
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  before_script:
  - ./.gitlab/setup_ubuntu.bash
  image: ubuntu:20.10

redhat: skip installing yubikey-manager for now
  tasks/system/redhat/packages.yml
  tasks/user/python.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: start testing on debian 11
  .gitlab-ci.yml
  Makefile
  README.md
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: make keybase and dive optional packages
  .gitlab/check_versions.bash
  tasks/system/debian/packages.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: 11 does not ship with broken python
  bootstrap/debian.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: rm julia and pssh
  tasks/system/redhat/fedora/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

debian: install python3-cairo during ansible run to fix python setup
  tasks/system/debian/debian/packages.yml
Due: debian_10, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: switch theme away from CBlack
  tasks/system/redhat/packages.yml
  tasks/user/ui.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: use dconf instead of gsettings
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
  tasks/user/ui.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: configure application auto start
  .vscode/extensions.json
  files/home/user/.config/autostart/1password.desktop
  setup.yml
  tasks/user/autostart.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: support ubuntu 21.10
  .gitlab-ci.yml
  README.md
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: add support for fedora 35
  .gitlab-ci.yml
  README.md
  setup.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: add signing key fingerprints for razer
  razer.yml
Due: none

fedora: only install razer packages if signing key is imported
  tasks/system/redhat/fedora/razer.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

fedora: make razer packages best effort
  tasks/system/redhat/fedora/razer.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

fedora: only add user to plugdev group if rpm key was imported for razer
  tasks/system/redhat/fedora/razer.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: add neofetch as an optional package
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: use the docker repository for fedora 35
  tasks/system/redhat/docker.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: stop all podman containers on shutdown
  files/home/user/.config/systemd/user/logout-podman-stop.service
  files/home/user/bin/README.md
  setup.yml
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix permissions on logout-podman-stop.service
  tasks/user/applications.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: use default.target for user sessions
  files/home/user/.config/systemd/user/logout-podman-stop.service
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: only stop user podman containers if podman is installed
  files/home/user/.config/systemd/user/logout-podman-stop.service
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fixed changed status on commands that do not change the system
  tasks/user/dotfiles.yml
  tasks/user/python.yml
  tasks/user/rust.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: start testing on centos
  .gitlab-ci.yml
  .gitlab/setup_centos.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: add bootstrap scripts
  bootstrap/centos.bash
  setup.sh
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: make more packages optional
  tasks/system/redhat/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: add docker support
  README.md
  tasks/system/redhat/centos/docker.yml
  tasks/system/redhat/docker.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: debug
  setup.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: add package repositories
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: fix casing of distribution name
  tasks/system/redhat/docker.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: fix import of rpmfusion keys
  tasks/system/redhat/centos/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: install vscode
  README.md
  tasks/system/redhat/centos/docker.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: rename make target for installing git hooks
  Makefile
Due: none

all: default to testing containers with podman on local
  Makefile
Due: none

centos: fix package install command
  tasks/system/redhat/centos/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

centos: only install rpmfusion repositories when key is known
  tasks/system/redhat/centos/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: use systemd as init system when testing locally
  Makefile
Due: none

centos: add make task for building images to test in
  .gitignore
  .gitlab/build_container.sh
  Makefile
  dockerfiles/centos.dockerfile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: use script to build container in CI
  .gitlab-ci.yml
  .gitlab/build_image.sh
  Makefile
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: test in CI using built image
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

centos: remove extra steps for getting image setup
  .gitlab-ci.yml
  .gitlab/verify_no_changes.sh
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  debian_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
