Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

test:archlinux:latest:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/archlinux:latest-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:archlinux:latest
  ...

test:centos:stream8:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/centos:stream8-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:centos:stream8
    artifacts: false
  ...

test:centos:stream9:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/centos:stream9-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:centos:stream9
    artifacts: false
  ...

test:debian:10:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/debian:10-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:debian:10
    artifacts: false
  ...

test:debian:11:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/debian:11-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:debian:11
    artifacts: false
  ...

test:fedora:34:
  stage: test
  needs:
  - job: build:fedora:34
    artifacts: false
  - job: lint:ansible
    artifacts: false
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  image: ${CI_REGISTRY}/perobertson/scripts/fedora:34-${CI_COMMIT_REF_SLUG}

test:fedora:35:
  stage: test
  needs:
  - job: build:fedora:35
    artifacts: false
  - job: lint:ansible
    artifacts: false
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  image: ${CI_REGISTRY}/perobertson/scripts/fedora:35-${CI_COMMIT_REF_SLUG}

test:fedora:36:
  stage: test
  needs:
  - job: build:fedora:36
    artifacts: false
  - job: lint:ansible
    artifacts: false
  script:
  - ./.gitlab/build.bash
  - su public --command="./.gitlab/check_versions.bash"
  image: ${CI_REGISTRY}/perobertson/scripts/fedora:36-${CI_COMMIT_REF_SLUG}
  allow_failure: true

test:fedora:rawhide:
  stage: test
  script:
  - su public --command="./setup.sh"
  - su public --command="./.gitlab/check_versions.bash"
  - su public --command="./.gitlab/verify_no_changes.sh"
  image: ${CI_REGISTRY}/perobertson/scripts/fedora:rawhide-${CI_COMMIT_REF_SLUG}
  needs:
  - job: build:fedora:rawhide
    artifacts: false
  ...

centos: split up stream8 and stream9 packages
  tasks/system/redhat/centos/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: move gcloud cli to best effort install
  Makefile
  tasks/system/redhat/gcloud.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: add unzip
  .gitlab/check_versions.bash
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix unzip version check
  .gitlab/check_versions.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: remove hashicorp repositories in favour of tfenv and pkenv
  tasks/system/debian/repositories.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

all: add keybinding to toggle 1password
  tasks/user/ui.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add shortcut for 1password quick access
  README.md
  tasks/user/ui.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add ffmpeg to improve video playback
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: configure epel and rpm fusion repos
  setup.yml
  tasks/system/redhat/centos/repositories.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: fix ansible lint
  tasks/system/redhat/centos/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

centos: stop officially supporting stream8
  .gitlab-ci.yml
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix paths when installing user scripts
  bin/install-aws.bash
  playbooks/tasks/user/bins.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: combine bins and application tasks
  bin/gh_cli.rb
  playbooks/files/home/user/bin/aws_iam_to_ses.py
  playbooks/files/home/user/bin/create-bootable-usb.bash
  playbooks/files/home/user/bin/install-aws.bash
  playbooks/files/home/user/bin/install-nvidia.bash
  playbooks/setup.yml
  playbooks/tasks/user/applications.yml
  playbooks/tasks/user/bins.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix linking of user bins
  playbooks/tasks/user/applications.yml
Due: none

all: fix extra playbook locations
  setup.sh
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: start managing cinnamon panel locations
  playbooks/tasks/user/ui.yml
Due: none

all: disable reproducable container images in CI
  .gitlab/build_image.sh
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: enable pkenv and pyenv updaters
  playbooks/tasks/user/systemd.yml
Due: none

all: fix install flatpaks target
  Makefile
Due: none

all: fix flatpak permissions
  playbooks/tasks/user/flatpaks.yml
Due: none

all: migrate mcode script into scripts repo
  playbooks/files/home/user/bin/mcode.bash
  playbooks/tasks/user/applications.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

arch: allow failures for now while upstream is being fixed
  .gitlab-ci.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

ubuntu: change short term release to warn only
  .gitlab-ci.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: update kaniko builder
  .gitlab-ci.yml
  Makefile
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

arch: add support for viewing webp images
  playbooks/tasks/system/archlinux/packages.yml
Due: none

redhat: add support for viewing webp images
  playbooks/tasks/system/redhat/packages.yml
Due: none

all: add additional support for podman
  playbooks/tasks/system/archlinux/packages.yml
  playbooks/tasks/system/debian/ubuntu/packages.yml
  playbooks/tasks/system/redhat/centos/packages.yml
  playbooks/tasks/system/redhat/fedora/packages.yml
  playbooks/tasks/system/redhat/packages.yml
Due: none

all: update version checks
  .gitlab/check_versions.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: remove the extra setup ability for docker
  Makefile
  README.md
  playbooks/docker.yml
  playbooks/tasks/system/archlinux/docker.yml
  playbooks/tasks/system/debian/debian/packages.yml
  playbooks/tasks/system/debian/docker.yml
  playbooks/tasks/system/debian/packages.yml
  playbooks/tasks/system/docker.yml
  playbooks/tasks/system/redhat/centos/docker.yml
  playbooks/tasks/system/redhat/docker.yml
  playbooks/tasks/system/redhat/fedora/docker.yml
  setup.sh
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: rm virt-what
  .gitlab/check_versions.bash
  playbooks/tasks/system/debian/packages.yml
  playbooks/tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add aws-vault
  .gitlab/check_versions.bash
  playbooks/setup.yml
  playbooks/tasks/system/archlinux/packages.yml
  playbooks/tasks/system/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

fedora: add open policy agent
  playbooks/tasks/system/redhat/fedora/packages.yml
Due: none

fedora: simplify rpmfusion signing key install
  playbooks/setup.yml
  playbooks/tasks/system/redhat/fedora/repositories.yml
Due: none

all: fix ansible-lint errors
  playbooks/flatpaks.yml
  playbooks/setup.yml
  playbooks/tasks/user/flatpaks.yml
Due: none

all: check for go-task
  .gitlab/check_versions.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add yubikey-manager
  .gitlab/check_versions.bash
  playbooks/tasks/system/archlinux/packages.yml
  playbooks/tasks/system/debian/packages.yml
  playbooks/tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: skip installing broken ykman
  .gitlab/check_versions.bash
  playbooks/tasks/system/debian/debian/packages.yml
  playbooks/tasks/system/debian/packages.yml
  playbooks/tasks/system/debian/ubuntu/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: does not have ykman
  playbooks/tasks/system/redhat/centos/packages.yml
  playbooks/tasks/system/redhat/fedora/packages.yml
  playbooks/tasks/system/redhat/packages.yml
Due: none

Path conditions:
  test:archlinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:centos:stream8: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:centos:stream9: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:debian:10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:debian:11: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:fedora:34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:36: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:manjarolinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
