Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  fedora_28: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_29: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_30: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_31: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_32: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)

fedora: fix bootstrapping of rpmfusion signing keys
  .gitlab-ci.yml
  Makefile
  bootstrap/fedora.sh
  bootstrap/ubuntu.sh
  setup.sh
  setup.yml
  tasks/system/redhat/fedora/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: no need to update release packages
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: add zoom signing key
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: dive is unsigned
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: import docker signing key
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

redhat: import the 1Password signing key before install
  .gitignore
  Makefile
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: fix the usage of ansible.cfg
  .gitignore
  Makefile
  config/ansible.cfg
  config/inventory.yml
  setup.sh
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added a script to convert IAM credentials to SES
  bin/aws_iam_to_ses.py
  setup.yml
  tasks/user/bins.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

centos: try installing docker at the same time
  tasks/system/redhat/centos/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: fix setup.sh to use cwd when possible
  README.md
Due: none

all: fix makefile
  Makefile
Due: none

centos: fix version checks
  .gitlab/check_versions.sh
  Makefile
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: skip using curl in CI
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: debug
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: check for existence of remote docker repo
  bootstrap/centos.sh
  setup.sh
  tasks/system/containers.yml
  tasks/system/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add support for centos
  .gitlab-ci.yml
  Makefile
  README.md
  bootstrap/centos.sh
  setup.sh
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

centos: docker install is optional due to slow support
  .gitlab/check_versions.sh
  tasks/system/containers.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

centos: fix docker check for adding group
  tasks/system/containers.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: fix docker repo for 32
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: fix local apply of systemed
  systemd.yml
Due: none

centos: import epel keys
  setup.yml
  tasks/system/redhat/centos/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

centos: install epel and rpmfusion from rpms
  setup.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: import zoom signing key
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: update links in readme
  README.md
Due: none

all: added a vscode extension to handle jinja highlighting
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add grex, hyperfine, nu shell, procs to extras
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update docker compose to 1.27.3
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: vscode is sometimes flakey and unable to install extensions
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.27.4
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: use the yum docker repo for f32 instead of 31
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: update poetry
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: allow erasing old bluetooth packages during install
  bootstrap/fedora.sh
  tasks/system/redhat/fedora/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add hashicorp yum repository
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

debian: add hashicorp deb repo
  tasks/system/debian/repositories.yml
Due: ubuntu_18_04, ubuntu_20_04

redhat: update url to install 1password
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

debian: update url to install 1password
  tasks/system/debian/repositories.yml
Due: ubuntu_18_04, ubuntu_20_04

all: configure DAG for CI
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: require fedora 33 to pass CI
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add rpm fusion keys for fedora 33
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add rpmfusion key for F34
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04
