Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  fedora_28: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_29: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_30: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_31: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_32: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)

fedora: allow rpm fusion key to fail importing for debugging
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: added pre-commit hooks
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  tasks/system/redhat/fedora/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: rpmfusion keys for fedora 33 and 34
  setup.yml
  tasks/system/redhat/fedora/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: use docker repo for f32 on f33+
  README.md
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: gitui is installed as best effort. Can be installed using the extras script
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: razer pacakages are installed on best effort
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: best effort to add user to plugdev group
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: added a script to create bootable usbs
  bin/create-bootable-usb.bash
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: enable docker test repository for cgroupv2 support on 32+
  README.md
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: disable nu in extras
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: install exa
  .gitlab/check_versions.sh
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: docker repo for f33 is available but only test is supported for now
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: use pip dependency resolver when installing packages
  bootstrap/arch.sh
  bootstrap/centos.sh
  bootstrap/fedora.sh
  bootstrap/manjaro.sh
  bootstrap/ubuntu.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: upgrade to pip 20.3 for dependency resolution
  bootstrap/centos.sh
  bootstrap/fedora.sh
  bootstrap/ubuntu.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add ripgrep to extras
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add cmake
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: add pkenv for multiple packer versions
  tasks/user/applications.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: switch to stable for docker
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: fix adding users to plugdev group
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: add roboto and noto-sans fonts
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

redhat: some of the fonts are fedora only
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

fedora: google fonts became available at different times
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all:rm alacritty
  extras.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: dedupe pipelines
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add starship for shell prompts
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: update to docker-compose 1.28.0
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.28.2
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added a script to install the aws cli v2
  bin/install-aws
  files/aws.gpg.asc
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: install python packages based on pyenv-default-packages
  bootstrap/centos.sh
  bootstrap/fedora.sh
  bootstrap/ubuntu.sh
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: install psutil from the system packages for changing dconf settings
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: remove gitui since it was only briefly available
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

all: remove VSCode extension management
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: remove centos support
  .gitlab-ci.yml
  Makefile
  README.md
  bootstrap/centos.sh
  setup.sh
  tasks/system/containers.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add yubikey-manager
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

ubuntu: test on the rolling short term release to get prepped for the next LTS
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add lynis for security scanning
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.28.4 and added tab completions
  setup.yml
  tasks/system/containers.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: add note about starship prompt
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide

arch: add hyperfine
  tasks/system/archlinux/packages.yml
Due: archlinux, manjaro

fedora: add hyperfine
  tasks/system/redhat/fedora/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_33, fedora_rawhide
