Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  fedora_28: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_29: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_30: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_31: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_32: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).sh, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).sh, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(ubuntu).sh, tasks/system/debian/**/*, tasks/user/debian/**/*)

arch: update before install
  .gitlab-ci.yml
  bootstrap/arch.sh
  bootstrap/manjaro.sh
  setup.sh
  tasks/system/archlinux/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: remove debug
  setup.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: added intel-media-driver for better iGPU support
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: bootstrap scripts should be executable
  bootstrap/arch.sh
  bootstrap/manjaro.sh
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: switch to main
  .gitlab-ci.yml
  README.md
  tasks/user/dotfiles.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: moved packages into distro specific in prep for centos
  tasks/system/debian/packages.yml
  tasks/system/packages.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: prevent creating detached pipelines
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: always create the pipeline and let the jobs decide when to be created
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: set default gnome-terminal profile
  tasks/system/debian/packages.yml
  tasks/user/python.yml
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: add dbus and dconf tools
  tasks/system/redhat/packages.yml
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: move dbus tools to fedora >= 29
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

fedora: CI require f32 to pass
  .gitlab-ci.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: use docker for f31 on f32 until repo is available
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: added bash-completion
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update docker-compose to 1.26.1
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: enable indicators for cinnamon
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: use loop to install packages to prevent timeouts
  tasks/system/archlinux/packages.yml
Due: archlinux, manjaro

all: move ansible tags to top level
  setup.yml
  tasks/user/applications.yml
  tasks/user/dotfiles.yml
  tasks/user/flatpaks.yml
  tasks/user/ides.yml
  tasks/user/python.yml
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added CBlack cinnamon theme
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: update to docker-compose 1.26.2
  setup.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added autopep8, black, mypy
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added systemd, markdown, go extensions to vscode
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added tslint plugin to vscode
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: install vlc as a flatpak
  tasks/system/redhat/packages.yml
  tasks/user/flatpaks.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

redhat: added the heif decoder
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: add shtab for python auto complete
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: use 14 as the terminal font size
  tasks/user/ui.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: added VSCode gitlab workflow extension
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add 1Password app
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

arch: skip installing 1password until it is in the community repository
  tasks/system/archlinux/packages.yml
Due: archlinux, manjaro

redhat: add gdouros-symbola-fonts
  tasks/system/redhat/packages.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

debian: add fonts-symbola
  tasks/system/debian/packages.yml
Due: ubuntu_18_04, ubuntu_20_04

all: fix docker compose updates by installing multiple versions and hardlink to the latest
  tasks/system/containers.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add ShellCheck extension to VSCode
  tasks/user/ides.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: add retries to flatpak installs
  tasks/user/flatpaks.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: lazygit is now F31+
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: add boto3-stubs
  tasks/user/python.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

fedora: only install rpmfusion when repo is missing
  tasks/system/redhat/fedora/repositories.yml
Due: fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide

all: fix updating of docker-compose hardlink
  tasks/system/containers.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04

all: setup rust
  setup.yml
  tasks/user/python.yml
  tasks/user/rust.yml
Due: archlinux, fedora_28, fedora_29, fedora_30, fedora_31, fedora_32, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04
