Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

Path conditions:
  archlinux: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  debian_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  fedora_33: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  fedora_rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  manjaro: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  ubuntu_18_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  ubuntu_20_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)

all: fix adding user to docker group
  tasks/system/docker.yml
  tasks/system/redhat/fedora/docker.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: fix hashicorp key import
  tasks/system/debian/repositories.yml
  tasks/system/redhat/fedora/repositories.yml
Due: debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

redhat: fix gcloud install
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: add vscode extension recommendations
  .gitignore
  .gitlab/setup_fedora.bash
  .vscode/extensions.json
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

redhat: fix kubernetes install
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

fedora: fix ci
  .gitlab/setup_fedora.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: add a dockerfile for ci linting
  .gitlab/Makefile
  .gitlab/linter.dockerfile
Due: none

all: build the linter image
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: building linter does not need any other dependencies in ci
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix building linter
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix building linter
  .gitlab/Makefile
  .gitlab/linter.dockerfile
Due: none

all: enable the docker build cache
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: switch ansible lint to the ci image
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix ci stages
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: cleanup
  tasks/system/debian/docker.yml
Due: debian_10, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix dependency graph for CI
  .gitlab-ci.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: configure tzdata in CI
  .gitlab/setup_ubuntu.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: merge systemd playbook into regular flow
  Makefile
  setup.sh
  setup.yml
  systemd.yml
  tasks/system/archlinux/security.yml
  tasks/system/debian/security.yml
  tasks/system/redhat/security.yml
  tasks/system/security.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix enabling flatpak updates
  setup.yml
  tasks/system/security.yml
  tasks/user/flatpaks.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: additional playbooks are not installed by default
  Makefile
  README.md
  setup.sh
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: add missing repo key fingerprints
  tasks/system/debian/docker.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
Due: debian_10, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: docker uses a different key for debs
  tasks/system/debian/docker.yml
Due: debian_10, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

redhat: import all relevant rpm keys
  razer.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/fedora/razer.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

fedora: skip keybase yum repo signatures
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: switch to fqcn to prevent conflicts
  docker.yml
  gcloud.yml
  kubernetes.yml
  razer.yml
  setup.yml
  tasks/system/archlinux/docker.yml
  tasks/system/archlinux/packages.yml
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/docker.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/repositories.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/docker.yml
  tasks/system/gcloud.yml
  tasks/system/kubernetes.yml
  tasks/system/packages.yml
  tasks/system/razer.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/fedora/docker.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/fedora/razer.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/kubernetes.yml
  tasks/system/redhat/packages.yml
  tasks/system/redhat/razer.yml
  tasks/system/redhat/repositories.yml
  tasks/system/redhat/security.yml
  tasks/system/repositories.yml
  tasks/system/security.yml
  tasks/user/applications.yml
  tasks/user/bins.yml
  tasks/user/dotfiles.yml
  tasks/user/flatpaks.yml
  tasks/user/ides.yml
  tasks/user/python.yml
  tasks/user/rust.yml
  tasks/user/ui.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

arch: install missing dependencies on arch
  Makefile
  bootstrap/arch.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

fedora: fix bootstrapping on fedora 35
  Makefile
  bootstrap/fedora.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

manjaro: install missing dependencies
  Makefile
  bootstrap/manjaro.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

ubuntu: stop testing on ubuntu 18 which uses EOL python
  .gitlab-ci.yml
  Makefile
  README.md
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: enforce pip check
  bootstrap/debian.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

debian: install python3-cairo to use ansible
  bootstrap/arch.bash
  bootstrap/debian.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

arch: no longer need to fix default python environment
  bootstrap/arch.bash
  bootstrap/manjaro.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

redhat: install zoom through the local updater
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

redhat: systemd is not available in docker
  tasks/system/redhat/packages.yml
  tasks/system/redhat/repositories.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide

all: cleanup noqa flags
  .ansible-lint
  .editorconfig
  Makefile
  tasks/system/debian/packages.yml
  tasks/system/redhat/packages.yml
  tasks/user/applications.yml
  tasks/user/dotfiles.yml
  tasks/user/python.yml
  tasks/user/ui.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: skip installing flatpaks by default
  .gitlab/check_versions.bash
  Makefile
  flatpaks.yml
  setup.sh
  setup.yml
  tasks/system/debian/packages.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

all: fix missing handler in flatpak playbook
  flatpaks.yml
  setup.yml
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

arch: virt-what is not available
  .gitlab/check_versions.bash
Due: archlinux, debian_10, fedora_33, fedora_34, fedora_35, fedora_rawhide, manjaro, ubuntu_18_04, ubuntu_20_04, ubuntu_20_10

redhat: make yubikey-manager an optional package
  tasks/system/redhat/packages.yml
Due: fedora_33, fedora_34, fedora_35, fedora_rawhide
