Repository perobertson/scripts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

Path conditions:
  test:archlinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:centos:stream8: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:centos:stream9: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:debian:10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:debian:11: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:fedora:34: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:35: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:36: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:fedora:rawhide: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(centos|fedora).bash, tasks/system/redhat/**/*, tasks/user/redhat/**/*)
  test:manjarolinux:latest: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(arch|manjaro).bash, tasks/system/archlinux/**/*, tasks/user/archlinux/**/*)
  test:ubuntu_20_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_04: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)
  test:ubuntu_21_10: (any of: .gitlab-ci.yml, **/*.bash, **/*.sh, setup.sh, setup.yml, ansible.cfg, bin/*, files/**/*, tasks/system/*.yml, tasks/user/*.yml) or (any of: bootstrap/(debian|ubuntu).bash, tasks/system/debian/**/*, tasks/user/debian/**/*)

all: add link to centos EOL
  .gitlab-ci.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: upgrade to python 3.9
  bootstrap/centos.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

redhat: python3-devel is part of bootstrap
  tasks/system/redhat/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: centos and fedora install different psutil packages
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: install 1password-cli
  .gitlab/check_versions.bash
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

redhat: do not run dnf-automatic on metered connections
  files/etc/systemd/system/dnf-automatic.service.d/non-metered.conf
  files/usr/local/bin/non_metered_connection.bash
  tasks/system/redhat/security.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: print message when metered connection detected
  files/usr/local/bin/non_metered_connection.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix window border theme
  tasks/user/ui.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

redhat: install sd
  tasks/system/redhat/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: add make targets to only install the system or user portions
  Makefile
  setup.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: install the kubernetes client from the main repositories
  tasks/system/archlinux/packages.yml
  tasks/system/debian/debian/kubernetes.yml
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/kubernetes.yml
  tasks/system/debian/ubuntu/kubernetes.yml
  tasks/system/redhat/centos/kubernetes.yml
  tasks/system/redhat/fedora/kubernetes.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/kubernetes.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: fix path for importing google rpm keys
  tasks/system/redhat/centos/kubernetes.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: kubectl is the client and minikube is kubernetes
  tasks/system/archlinux/kubernetes.yml
  tasks/system/debian/debian/kubernetes.yml
  tasks/system/debian/kubernetes.yml
  tasks/system/debian/ubuntu/kubernetes.yml
  tasks/system/kubernetes.yml
  tasks/system/redhat/centos/kubernetes.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/fedora/kubernetes.yml
  tasks/system/redhat/kubernetes.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

fedora: require 36 to pass in CI
  .gitlab-ci.yml
  Makefile
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: only run CI on merge requests and not branches
  .gitlab-ci.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: install bat zoxide and git-delta when possible
  .gitlab/check_versions.bash
  tasks/system/archlinux/packages.yml
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/fedora/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: fix long lines
  tasks/system/debian/docker.yml
  tasks/system/debian/repositories.yml
  tasks/system/docker.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/fedora/razer.yml
  tasks/system/redhat/fedora/repositories.yml
  tasks/system/redhat/gcloud.yml
  tasks/system/redhat/repositories.yml
  tasks/user/ui.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: try fixing dconf settings on long lines
  tasks/user/ui.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: fix adding repos
  tasks/system/debian/repositories.yml
Due: test:debian:10, test:debian:11, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

debian: fix apt repository with multi line string
  tasks/system/debian/docker.yml
Due: test:debian:10, test:debian:11, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

redhat: remove extra new line in docker repo description
  tasks/system/redhat/docker.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

debian: make ripgrep an optional package
  tasks/system/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
Due: test:debian:10, test:debian:11, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: update kaniko to 1.8.1
  .gitlab-ci.yml
  Makefile
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

fedora: add taskfile
  tasks/system/redhat/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: retry installing packages to help with mirror failures
  tasks/system/redhat/packages.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

all: update to ansible 6.x
  bootstrap/install_ansible.bash
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add spaces around jinja filters
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/debian/ubuntu/repositories.yml
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/docker.yml
  tasks/system/redhat/fedora/razer.yml
  tasks/system/redhat/fedora/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add podman
  tasks/system/archlinux/packages.yml
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/redhat/centos/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

arch: add starship CLI prompt
  tasks/system/archlinux/packages.yml
Due: test:archlinux:latest, test:manjarolinux:latest

all: require podman
  .gitlab/check_versions.bash
  setup.sh
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

ubuntu: bump rolling release version
  .gitlab-ci.yml
  tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

ubuntu: stop testing on 20.04
  .gitlab-ci.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: only install VSCode when not running in WSL
  setup.yml
  tasks/system/archlinux/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/fedora/packages.yml
  tasks/system/redhat/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: retry fetching rustup script
  tasks/user/rust.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

ubuntu: update the EOL list
  .gitlab-ci.yml
  Makefile
  README.md
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: add retries to package install
  tasks/system/archlinux/packages.yml
  tasks/system/debian/debian/packages.yml
  tasks/system/debian/packages.yml
  tasks/system/debian/ubuntu/packages.yml
  tasks/system/redhat/centos/packages.yml
  tasks/system/redhat/fedora/packages.yml
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

centos: fix bootstrap on stream9
  .gitlab-ci.yml
  bootstrap/centos.bash
  dockerfiles/centos.dockerfile
Due: test:archlinux:latest, test:centos:stream8, test:centos:stream9, test:debian:10, test:debian:11, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide, test:manjarolinux:latest, test:ubuntu_20_04, test:ubuntu_21_04, test:ubuntu_21_10

all: zoom is an optional package
  tasks/system/redhat/repositories.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: rename tasks for refreshing dnf keys
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/gcloud.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide

redhat: refresh google repos when changed
  tasks/system/redhat/centos/repositories.yml
  tasks/system/redhat/gcloud.yml
Due: test:centos:stream8, test:centos:stream9, test:fedora:34, test:fedora:35, test:fedora:36, test:fedora:rawhide
